/* CSS Document */

@font-face {
    font-family: 'UtsaahRegular';
    src: url('../fonts/utsaah-webfont.eot');
    src: url('../fonts/utsaah-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/utsaah-webfont.woff') format('woff'),

         url('../fonts/utsaah-webfont.ttf') format('truetype'),

         url('../fonts/utsaah-webfont.svg#UtsaahRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}







/************reset css***************/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
} 


li{
	list-style:none;}

h1{font-weight:normal;}

p,li,h1,h2,h3,ul,td,span{font-family:Arial, Helvetica, sans-serif;}

div.clear{
	clear:both;}

a{

	text-decoration:none;}



p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	text-align:justify;
}
html{height:100%;}
body{height:100%;}

html, body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#fff;
}


div.joomla{
	display:block;}

div.page_accueil,
div.page_applications{display:none;}


div.wrapper_grand_conteneur_site{
	position:relative;
	width:100%;
	padding-top:25px;
	padding-bottom:30px;
	background: url(../images/img_structure/motif_fond_body.jpg) repeat;
	}
	
div.grand_conteneur_site{
	position:relative;
	width:940px;
	margin:0 auto;	
	}

div.grand_conteneur_site:after{
	content: "";
	display: block;
	clear: both;}




/*================HEADER=================*/



div.header{
	height:146px;
	width:100%;
	background: url(../images/img_structure/header.jpg) center no-repeat;
	background-color:#12608e;
	zoom:1;
	}
div.header:after{
	content: "";
	display: block;
	clear: both;}


div.ligne_bleue{
	height:8px;
	background-color:#04315b;}



div.sous_header{
	position:relative;
	width:95%;
	margin:0 auto;	}

a.logo{
	position:absolute;
	display:block;
	height:101px;
	width:300px;
	top:18px;
	left:0px;
	background: url(../images/logo.png) no-repeat;
	cursor:pointer;
	}







/*=================MENU HAUT SANS LE BOUTON BLOG==================*/

ul.menu_haut{
	position:absolute;
	top:85px;
	left:200px;}



ul.menu_haut span{display:none;}



ul.menu_haut li{
	float:left;
	margin-left:13px;
	}

button.myMenu {
color: blue;
}
button.myMenu:hover{
 color: white;
}

ul.menu_haut li.myMenu button{
	display:block;
	width:110px;
	height:36px;
    }



ul.menu_haut li button.myMenu:hover{
	background-color: #C63939;
     }
ul.menu_haut li button.myMenu:active{
	background-color: #C63939;
     }

ul.menu_haut li.active a{
	background-position:bottom;}

	/*=================FIN MENU HAUT AVEC LE BOUTON BLOG==================*/

div.container{
	position:relative;
	z-index:10;
	top:145px;
	height:333px;
	right: 10px;
	left: 10px;
	vertical-align: center
	background: url(../images/img_accueil/diaporama.jpg) no-repeat;}

div.mod_diaporama_eng{
	position:relative;
	top:145px;
	width:940px;
	height:333px;
	background: url(../images/img_accueil/diaporama_eng.jpg) no-repeat;}


div.mod_diaporama_de{	position:relative;	top:145px;	width:940px;	height:333px;	background: url(../images/img_accueil/diaporama_eng.jpg) no-repeat;}

div.mod_select_langue{
	position:absolute;
	top:0;
	right:0;
	width:70px;
	height:29px;
	background: url(../images/img_structure/fond_mod_langues.png) no-repeat;}

div.mod_select_langue a{
	font-size:10px;	color:#116695;
}

div.mod_select_langue li#active_language a{
	font-size:10px;
	font-weight:bold;
	color:#fff;
}

div#jflanguageselection{
	float:none;
	position:absolute;
	top:0;
	left:0;
	padding-left:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;}



div#jflanguageselection li{
	float:left;
	margin-right:3px;}

/*================FIN HEADER=================*/







/*=============FOOTER================*/

/* Set the fixed height of the footer here */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/*=============FIN FOOTER================*/

